{# src/Blogger/BlogBundle/Resources/views/Comment/index.html.twig #}

{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p><span class="highlight">{{ comment.name }}</span> commented <time datetime="{{ comment.submitTime|date('c') }}">{{ comment.submitTime|date('l, F j, Y') }}</time></p>
        </header>
        <p>{{ comment.text }}</p>
    </article>
{% else %}
    <p>There are no comments for this post. Be the first to comment...</p>
{% endfor %}